.community {
	margin: 2rem 4rem;
  margin-bottom: 12rem;
  font-family: "Montserrat";
}
.community__mainline {
  align-items: left;
}
.community__mainline > h2 {
  font-size: 4rem;
  font-family: "Gilroy";
}
.community__mainline > p {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.server-stats {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  background-color: #2c2c2c;
}
.server-stats > div {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}
.server-stats > div > h4 {
  color: #3de9fc;
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 5px 5px 20px #3de9fc;
}
.server-stats > div > h1 {
  font-size: 5rem;
  color: #df3fa5;
  font-family: Gilroy;
  text-shadow: 5px 5px 20px #df3fa5;
}

.community__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.community__left {
  margin-left: 50px;
}
.community__left img {
  width: 40em;
}

.community__right {
  margin-right: 12rem;
}

.community__rcontent > span {
  color: #28cfc6;
}

.community__rcontent {
  font-size: 40px;
  font-family: "Gilroy";
}

.community__rbutton {
  margin-top: 25px;
}
.community__rbutton img:hover {
  filter: hue-rotate(300deg) brightness(140%);
}

#ig {
  color: rgb(226, 63, 191);
  font-weight: bold;
}
#li {
  color: rgb(55, 79, 189);
  font-weight: bold;
}
#yt {
  color: red;
  font-weight: bold;
}
#wa {
  color: rgb(43, 204, 137);
  font-weight: bold;
}