.team-container {
	margin: 5rem 5rem;
}
.team-container > h1 {
	text-align: center;
	font-size: 7rem;
	font-family: Gilroy;
	margin-bottom: 4rem;
}
.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto 1rem;
}
.team-member > img {
	border-radius: 50%;
	border: 1px solid black;
}
.team-member > h1 {
    font-family: Gilroy;
	color: dodgerblue;
}
.team-member > p {
    font-family: Montserrat;
    font-size: 1.5rem;
	color: mediumvioletred;
	font-weight: 600;
}
.team-member-1 {
	width: 30rem;
	height: 25rem;
}
.team-member-1 > img {
	width: 15rem;
	height: 15rem;
}
.team-social {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem auto 2rem auto;
}
.team-social > a > img {
	width: 30px;
	margin: auto 5px;
}

@media screen and (max-width: 705px) {
	.team-container > h1 {
		font-size: 5rem;
	}
	.team-members {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.team-member {
		margin: 3rem auto;
	}
}
