*,
body {
  margin: 0;
  padding: 0;
}

div.EventSection {
  margin-top: 5em;
  margin-left: 1em;
  font-family: 'Gilroy';
  color: white;
  background-color: #2c2c2c;
}

.event-wrapper {
  margin-left: 5em;
}
.event-wrapper a {
  cursor: pointer;
  text-decoration: none;
  margin-left: 15px;
  color: white;
  background-color: #2c2c2c;
}

#github-101 {
  background-color: #3a75c9;
}

#dsa-weekly {
  cursor: pointer;
  background-color: #f6a915;
}
#dsa-weekly:hover {
  background-color: #fdbf4b;
}

#techio-olympics {
  background-color: #23b3ab;
}
