div.EventSection {
  margin-top: 4rem;
  margin-left: 4rem;
  font-family: 'Gilroy';
  color: white;
}

.events-images {
  display: flex;
  flex-direction: column;
}
.events-images > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events-images > div > a > img {
  width: 25rem;
  height: 25rem;
  margin: 2rem 5rem;
  border-radius: 20px;
  transition: all 0.4s;
}
.events-images > div > p > h2 {
  font-family: Gilroy;
}
.events-images > div > p {
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 8rem;
}
.events-images > div > a > img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}