.mod8 {
    font-family: 'Montserrat';
    color: white;
}

.mod8 p {
    margin: 0 5rem 5rem 5rem;
    font-size: 1.5rem;
}

.mod8 h4 {
    max-width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background-color: #23b3ab;
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 4rem;
}

.mod8 h1 {
    font-family: 'Gilroy';
    margin-left: 4rem;
    margin-bottom: 4rem;
    font-size: 5rem;
}

.mod8 h3 {
    margin-left: 5rem;
    font-size: 6rem;
}

.mod8 h3:hover {
    color: #23b3ab;
}

.mod8_info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5rem 5rem;
}

.mod8 .left {
    font-family: 'Gilroy';
    font-size: 2rem;
}

.mod8 .right {
    width: 40%;
}

.mod8 .right img {
    transform: rotate(-25deg);
    width: 60%;
}