.about-container {
	margin: 2rem 4rem;
	margin-bottom: 7rem;
}
.about-container > h1 {
	font-size: 4rem;
	font-family: "Gilroy";
}

.about-divs {
	display: flex;
}
.about-left,
.about-right {
	flex: 1;
}
.about-left > p {
	font-size: 1.5rem;
	font-family: "Montserrat";
}
.about-right {
	display: flex;
	justify-content: center;
    align-items: center;
}
.about-right > img {
    height: 80%;
	animation: infiniteRotate 2s linear infinite;
    transition: 1s all;
}
.about-right > img:hover {
    height: 150%;
    transition: 1s all;
}
@keyframes infiniteRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 705px) {
	.about-container {
		margin: 1rem 2rem;
	}
	.about-container > h1 {
		font-size: 3rem;
	}
	.about-divs {
		flex-direction: column;
	}
	.about-left > p {
		font-size: 1.5rem;
	}
	.about-right {
		margin-top: 4rem;
	}
}