.container-fluid{
	padding-left: 7%; padding-right: 5%;
	/* position: absolute; z-index: 1;*/ /*-------enable to over ride navbar over the video */
}
.nav-logo{
	height: 70px;
}
.navbar-brand{
	font-family: "Montserrat"; font-size: 2.7rem; font-weight: 800;
}
.nav-item{
	padding: 15px;
	font-family: "Montserrat"; font-size: 1.5rem; font-weight: 550;
}
.nav-link:hover{
	transition: all 0.2s;
	text-decoration: underline;
}
