.landingbody {
	padding-bottom: 20rem;
}

.landingbody > video {
	position: absolute;
	width: 100%;
}
.landingbody__div {
	padding-top: 10rem;
	padding-left: 6rem;
	position: relative;
	padding-bottom: 10rem;
}
.landingbody__content > h3 {
	color: white;
	font-family: Gilroy;
	font-size: 6rem;
}

.landingbody__content > p {
	color: white;
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 2.3rem;
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.267);
}
.landingbody__button {
	margin-top: 8rem;
	text-align: left;
	padding-left: 40px;
	color: white !important;
}

.landingbody__button button {
	width: 250px;
	height: 95px;
	border: none;
	border-radius: 6px;
	color: white;
	background-color: #36c7fb;
	font-size: 2.5rem;
	font-family: "Montserrat";
	transition: all 0.4s;
	border: 2px solid white;
}
.landingbody__button button:hover {
	cursor: pointer;
	transition: all 0.4s;
	color: white;
	background-color: #e23ba2;
	transform: scale(1.2);
}

@media screen and (max-width: 705px) {
	.landingbody {
		padding-bottom: 2rem;
	}
	.landingbody > video {
		height: 100%;
		position: relative;
	}
	.landingbody__div {
		padding-top: 2rem;
		padding-left: 2rem;
	}
	.landingbody__content > h3 {
		color: black;
		font-size: 4rem;
	}
	.landingbody__content > p {
		font-size: 1.8rem;
	}
	.landingbody__button {
		margin: 1rem 0;
		padding: 0;
	}
	.landingbody__button > a > button {
		width: 10rem;
		font-size: 1.5rem;
	}
	.landingbody__button > a > button:hover {
		transform: none;
	}
}
