.landingbody {
	background-image: url("../../image/desert-footage.mp4");
	background-size: cover;
	padding-bottom: 20rem;
}
.landingbody > video {
	position: absolute;
	width: 100%;
}
.landingbody__div {
	padding-top: 10rem;
	padding-left: 6rem;
	position: relative;
}
.landingbody__content > h3 {
	color: white;
	font-family: Gilroy;
	font-size: 6rem;
}

.landingbody__content > p {
	color: white;
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 2.3rem;
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.267);
}
.landingbody__button {
	margin-top: 8rem;
	text-align: left;
	padding-left: 40px;
	color: white !important;
}

.landingbody__button button {
	width: 250px;
	height: 95px;
	border: none;
	border-radius: 6px;
	color: white;
	background-color: #36c7fb;
	font-size: 2.5rem;
	font-family: "Montserrat";
	transition: all 0.4s;
	border: 2px solid white;
}
.landingbody__button button:hover {
	cursor: pointer;
	transition: all 0.4s;
	color: white;
	background-color: #e23ba2;
	transform: scale(1.2);
}
