* {
	margin: 0;
	padding: 0;
	color: black;
}

html {
	max-width: 100%;
	margin: 0;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	color: black;
	max-width: 100%;
	object-fit: contain;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
}